.idcms_accordion {
  background-image: url("/tabheader.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: right center;
}

a,
a:visited,
a:active {
  color: inherit !important;
}

p {
  padding-bottom: 0.5rem;
}
